<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form with File Upload</title>
</head>
<body>
  <form action="{{ url_for('upload_resume') }}" method="post" enctype="multipart/form-data">
    <label for="file1">File 1:</label><br/>
    <input type="file" name="file1" id="file1" /><br/>
    <label for="file2">File 2:</label><br/>
    <input type="file" name="file2" id="file2" /><br/>
    <label for="file3">File 3:</label><br/>
    <input type="file" name="file3" id="file3" /><br/>
    <label for="file4">File 4:</label><br/>
    <input type="file" name="file4" id="file4" /><br/>
    <label for="file5">File 5:</label><br/>
    <input type="file" name="file5" id="file5" /><br/>
    <label for="file6">File 6:</label><br/>
    <input type="file" name="file6" id="file6" /><br/>
    <label for="file7">File 7:</label><br/>
    <input type="file" name="file7" id="file7" /><br/>
    <label for="file8">File 8:</label><br/>
    <input type="file" name="file8" id="file8" /><br/>
    <input type="file" name="file9" id="file9" /><br/>
    <label for="file10">File 10:</label><br/>
    <input type="file" name="file10" id="file10" /><br/>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>
